@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*,*::before,*::after{
    user-select: none;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    background-color: #FEF9EF;
}
#items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#s1{
    padding: 10px;
    font-size: 25px;
}
#s2{
    padding: 10px;
    font-size: 25px;
}
#s3{
    padding: 10px;
    font-size: 25px;
}
#s1container{
    background-color: #DD4A48;
    width: 500px;
    border-radius: 10px;
    outline: 8px solid #FF865E;
    margin: 20px;
    transition: 0.2s;
}
#s2container{
    background-color: #DD4A48;
    width: 500px;
    border-radius: 10px;
    outline: 8px solid #FF865E;
    margin: 20px;
    transition: 0.2s;

    height: 400px;
}
#s3container{
    background-color: #DD4A48;
    width: 500px;
    border-radius: 10px;
    outline: 8px solid #FF865E;
    margin: 20px;
    transition: 0.2s;
}
.material-icons-outlined{
    font-size: 100%;
    line-height: 48px;
}
nav{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #97BFB4;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
h1{
    text-align: left;
    font-size: 50px;
}

span{
    position: absolute;
    left: 0;
}
.buttons{
    display: flex;
}
.button{
    background: #dd4a48;
    width: 240px;
    font-size: 40px;
    text-align: center;
    transition: 0.2s;
    
}
.button:hover{
    background: #84a8b8;
    
}
.seperate{
    width: 1vw;
}
a:link { text-decoration: none; color: black;}


a:visited { text-decoration: none; color: black;}


a:hover { text-decoration: none; color: black;}


a:active { text-decoration: none; color: black;}
a{
    display: block;
    height: 50px;
    width: 100%;
    line-height: 48px;
}
.pageName{
    
    text-align: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #dd4a48;
    
    line-height: 48px;
    font-size: 40px;
    transition: 0.2s;
    width: 200px;
}

@media only screen and (max-width: 700px) {
    .pageName{
        font-size: 25px;
        width: 120px;
    }
    .button{
        font-size: 18px;
        width: 100px;
    }
    p{
        font-size: 18px;
    }

  }